$font-family-base: 'Lato';
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1400px);
$custom-checkbox-radius: 0.75rem;
$white: #fff;
$blue: #2DAAE1;
$green: #3AC157;
$orange: #ed9e00;
// Create grayscale
$gray-dark: #163965;
$gray: #464a4c;
$gray-light: #828282;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f7;
// Breadcrumbs
$breadcrumb-padding-x: 0rem;
$breadcrumb-padding-y: 1rem;
$breadcrumb-item-padding: .25rem;
$breadcrumb-bg: transparent;
$breadcrumb-active-color: $gray;
$link-color: $gray-light;
$headings-font-weight: 300;
$font-size-h1: 2rem;
$btn-padding-x: 1.75rem;
$btn-padding-y: .5rem;
$btn-line-height: 1.5;
$btn-font-weight: 700;
$progress-bg: rgba(204, 204, 204, 0.57);
$progress-border-radius: 10px;
$content-height: calc(100vh - 80px);
$enable-gradients: true;
$pagination-bg: transparent;
$pagination-color: $blue;
$pagination-border-width: 0;
$pagination-padding-y: 0;
$pagination-padding-x: 0.25rem;
$pagination-line-height: 0.75rem;
$pagination-hover-color: $gray-light;
$pagination-hover-bg: transparent;
$pagination-active-color: $gray-dark;
$pagination-active-bg: transparent;
$pagination-disabled-bg: transparent;
$pagination-disabled-border: transparent;
$custom-file-text: ( placeholder: ( en: "No file chosen...", he: "לא נבחר קובץ..."), button-label: ( en: "Choose File", he: "בחר קובץ"));